body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #245953;
  color: #d8d8d8;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 30rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 5rem 0;
}

.image {
  margin-bottom: 2.5rem;
}

.tabs {
  background: #408e91;
  border-radius: 0.5rem;
  grid-template-rows: auto 1fr;
}

.button {
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  background: #e49393;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.button:hover:not(.live) {
  background: #245970;
  color: #fff;
}

.tabs-content {
  padding: 2rem 1.5rem;
}

.content {
  display: none;
}

.content.live {
  display: block;
}

.button.live {
  background: #408e91;
}

@media (min-width: 992px) {
  .image {
    margin-bottom: 0;
  }

  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
